@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@100&family=Roboto:wght@300&family=Rochester&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #8484b3;
}

.home {
    min-height: 100vh;
    width: 100%;
}

.home .container {
    width: 80%;
    height: 90vh;
    padding: 0;
    padding-top: 3rem;
}

.home .content {
    position: relative;
    width: fit-content;
    text-align: right;
    left: 0;
    padding-top: 7rem;
    min-height: 80vh;
    padding-right: 1rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    margin: auto;
    flex: 1;
}

.home .content h1 {
    font-family: 'Rochester';
    margin-top: 3rem;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    font-weight: 100;
}

.navigation {
    width: 85%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-right: 0rem;
    padding-left: 1rem;
    margin-right: 9rem;
    margin-left: 2rem;
    top: 0;
    font-family: 'Roboto';
    font-size: 1.15rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    margin: auto;
    margin-right: 2rem;
    transition: 0.4s;
}

.links a:hover {
    padding-bottom: 0.5rem;
    font-weight: 900;
    text-shadow: 0rem 1rem 0.5rem black;
}

.homeimg {
    height: 90vh;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 2rem;
    margin-right: 2rem;
    flex: 1;
}

.logo {
    height: 4rem;
}

.container {
    margin: auto;
    padding: 1rem;
    width: 80%;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}

.box {
    background-color: #fff;
    color: #8484b3;
    position: relative;
    z-index: 1;
    text-align: center;
}

.box .content {
    padding: 1rem;
    padding-top: 0.5rem;
    margin-top: 0;
    color: #8484b3;
}

.box .content h2 {
    font-size: 2rem;
    color: #8484b3;
    font-family: 'Rochester';
    margin-bottom: 1.5rem;
}

.box .content p {
    width: 90%;
    margin: auto;
    margin-bottom: 1.75rem;
    color: #50506d;
}

.box .icons {
    display: flex;
    margin: auto;
    width: fit-content;
}

.box .icons i {
    padding: 0.5rem;
    font-size: 1.15rem;
    border: 1px solid rgb(75, 75, 75);
    margin: 0.25rem;
    color: rgb(75, 75, 75);
    cursor: pointer;
    transition: 0.5s;
}

.icons i:hover {
    color: black;
    border-color: black;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;

}

.add {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    padding: 0.75rem;
    background-color: #ffffffd1;
    color: black;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    cursor: pointer;
    z-index: 500;
    transition: 0.25s;
    font-size: 1rem;
}

.add i {
    color: #8484b3;
}

.add:hover i {
    animation: flip 1s;
}

@keyframes flip {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}

.box img {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    margin-top: 2rem;
    border: 5px solid #fff;
    padding: 0.25rem;
}

.box::before {
    content: "";
    background-color: gray;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 5rem;
    z-index: -1;
}

.box:nth-child(1n+1)::before {
    background-color: #ffd7ae;
}

.box:nth-child(2n+2)::before {
    background-color: #9ad9ff;
}

.box:nth-child(3n+3)::before {
    background-color: #ffc6e3;
}

.box:nth-child(4n+4)::before {
    background-color: #a3fde2;
}

.box:nth-child(5n+5)::before {
    background-color: #ff97a3;
}

.pages {
    display: flex;
    min-height: 100vh;
    width: 800%;
    transition: 1s;
}

.page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12.5%;
}

.page .content {
    font-family: sans-serif;
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.page .content .need {
    margin: 1rem;
}

.page .content .need h3 {
    margin-bottom: 0.5rem;
}

.page .content h2 {
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Rochester';
}

.page .content .buttons {
    margin: 2rem;
}

.page .content .buttons i {
    padding: 0 0.5rem;
    font-size: 2rem;
    position: relative;
    transition: 0.25s;
    cursor: pointer;
}

.page .content .buttons i:hover {
    color: #afafdc;
}

.page img {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    margin-top: 4.5rem;
}

.page1 {
    transform: translateX(-12.5%);
}

.page2 {
    transform: translateX(-25%);
}

.page3 {
    transform: translateX(-37.5%);
}

.page4 {
    transform: translateX(-50%);
}

.page5 {
    transform: translateX(-62.5%);
}

.page6 {
    transform: translateX(-75%);
}

.double {
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0;
    margin-top: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.double option {
    color: black;
    border-radius: 0;
}

.nav2 {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0.2rem 11%;
    z-index: 999;
}

.row {
    display: flex;
}

.row .need {
    flex: 1;
    padding-right: 2.5rem;
    border-right: 2px dashed white;
}

.row p {
    flex: 3;
    margin: 1rem;
}

.row .need p {
    margin: 0.5rem 0;
}